#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav{
  display: flex;
  align-items: center;
  background-color: pink;
  padding: 30px 25px;
  height: 30px;
}

nav > h3, nav > h4{
  margin: 0;
}

nav > h3 {
  margin-right:auto;
  color: red;
  font-weight: 700;
  font-size: 22px;
}

nav > img {
  height: 40px;
  margin-right: 10px;
}
